#idEmail{
    display: block;
}

#idSenha{
    display: block;
}

#logo{
    max-width:200px;
    max-height:150px;
    width: auto;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


body{
    padding-top: 50px;
}