#turma{
   width: 300px;
   height: 300px;
   position: relative;
   display: inline-block;
   margin-top: 50px;
}

#disProf{
   background-color: yellowgreen;
}
#nomeDisciplina{
   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   font-size: x-large;
   margin: 0%;
}
#nomeProf{

   font-family: 'Times New Roman', Times, sans-serif;
}

#corpoIndex{

   background-image: url(../image/fundo_index.jpeg);
   background-repeat: no-repeat;

}

#titulo{

   text-align: center;
   font-size: 35px;
   font-family: 'Times New Roman';
}

#links{

   border-color: black;
   border-width: 0px;
   border-left: 0px;
   border-right: 0px;
   border-top: 3px;
   border-style: double;
   margin-bottom: 0px;
   margin-top: 50px;
   margin-left: 20px;
   display: block;
}

#login{

   margin: 0px;
   width: 300px;
   height: 400px;
}

#cadastroUser{

   width: 300px;
   height: 400px;
}

#tituloSobre{

   border-color: black;
   border-width: 0px;
   border-left: 0px;
   border-right: 0px;
   border-top: 3px;
   border-style: double;
   margin-bottom: 0px;
   font-size: 23px;
   margin-left: 20px;
   text-align: left;
}

#Sobre{

   text-align: justify;
   margin-left: 50px;
   margin-right: 100px;
   font-family: 'Times New Roman';
   font-size: 20px;
}

#tituloSuporte{

   border-color: black;
   border-width: 0px;
   border-left: 0px;
   border-right: 0px;
   border-top: 3px;
   border-style: double;
   margin-bottom: 0px;
   text-align: left;
   margin-left: 20px;
   font-family: 'Times New Roman';
   font-size: 23px;
}

.linksDiv{

   margin-right: 90px;
   margin-left: 60px;
   width: 450px;
   height: 450px;
   display: inline;
}

#suporteImage{

   margin-left: 500px;
}